pandas==0.25.0
pandas-datareader==0.7.4
TA-Lib==0.4.17
matplotlib==3.1.0
requests==2.22.0
ccxt==1.18.120
Keras==2.2.4
tensorflow==1.13.1
scikit-learn==0.21.3
python-telegram-bot==11.1.0
cfscrape==1.9.5
Quandl==3.4.5
